* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
    .login-container {
      display: flex;
      justify-content: center;
    }
    
    .login-form {
      display: flex;
      flex-direction: column;
      background-color: #e7e7e3a0;
      padding-block: 100px;
      padding-inline: 50px;
  
    }
    
    .left-column img {
      height: 500px;
      width: auto;
    }
  
    .login-form h2 {
      font-size: 3rem;
      font-weight: bold;
      padding: 0 80px;
    }

    .login-form form input {
        margin: 5px;
    }
    
    .caption {
      font-size: 1.5rem;
    }
    
    .btn {
      margin: 0 10px;
    }
    
    .footer {
      background-color: #f8f9fa;
      padding: 1rem 0;
    }
    
    .footer p {
      margin: 0;
    }
    
    
    /* Responsive Design */
    @media (max-width: 768px) {
      .row {
        flex-direction: column;
      }
    
      .text-center {
        text-align: center;
      }
    
      .left-column img{
        display: none;    
      }
    }
    